# Binaries
*.exe
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
cover.html

# Project specific
server.db
*.pem
*.log
downloaded_*.txt
*.db-journal
*.db-shm
*.db-wal

# IDE
.vscode/
.idea/
